/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: beige;
}
.container {
  background-color: rgb(163, 190, 192);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
  width: 1200px;
}

.title {
}

.image {
  border: 5px black solid;
  width: 400px;
  cursor: pointer;
}

.btn {
  margin-top: 25px;
  font-size: 20px;
}

/* media */

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  body {
    background-color: rgb(163, 190, 192);
  }
  .container {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 20px;
  }

  .image {
    border: 5px black solid;
    width: 300px;
    cursor: pointer;
  }
}
/* Small devices (portrait tablets and large phones, 500px and down) */
@media only screen and (max-width: 500px) {
  body {
    background-color: rgb(163, 190, 192);
  }
  .container {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 20px;
  }

  .image {
    border: 5px black solid;
    width: 300px;
    cursor: pointer;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 850px) {
  body {
    background-color: rgb(163, 190, 192);
  }
  .container {
    width: 850px;
    height: auto;
  }

  .title {
    font-size: 20px;
  }

  .image {
    border: 5px black solid;
    width: 300px;
    cursor: pointer;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
