@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

body {
  background-color: beige;
  font-family: "Risque",sans-serif;
  color: white;
}
.container {
  background-color: rgb(163, 190, 192);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}

.title {
  font-size: 50px;
}

.image {
  border: 5px black solid;
  width: 400px;
  cursor: pointer;
}
.image2 {
  display: none;
  border: 5px black solid;
  width: 400px;
  cursor: pointer;
}
.image3 {
  display: none;
  border: 5px black solid;
  width: 400px;
  cursor: pointer;
}
.btn {
  margin-top: 25px;
  font-size: 20px;
}
/* cat fact style text */
.facts {
  background-color: rgb(163, 190, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
}

.catFact {
  padding: 10px;
  display: flex;
  font-size: 30px;
  height: auto;
}

/* media */

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  body {
    background-color: rgb(163, 190, 192);
  }
  .container {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 20px;
  }

  .image {
    border: 5px black solid;
    width: 300px;
    cursor: pointer;
  }
}
/* Small devices (portrait tablets and large phones, 500px and down) */
@media only screen and (max-width: 500px) {
  body {
    background-color: rgb(163, 190, 192);
  }
  .container {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 20px;
  }

  .image {
    border: 5px black solid;
    width: 300px;
    cursor: pointer;
  }
}
