@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
// reset

// nav
.nav {
  margin: 0 auto;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 38px;

    .contact__sales {
      border: 1px solid #f46a35;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 148px;
      height: 36px;
      border-radius: 10px;
      background-color: #f46a35;
      color: white;
      margin-right: 24px;
      cursor: pointer;
    }
  }
  .solutions::after,
  .products::after,
  .resources::after {
    content: url(https://i.ibb.co/jzYwVFW/arrow.png);
    display: inline-block;
    width: 11px;
    height: 7px;
    margin-left: 8px;
  }
}

// intro
.intro {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  .intro__right {
    flex-basis: 600px;
  }
  .intro__left {
    flex-basis: 600px;
    .intro__wrapper {
      padding-left: 48px;
      padding-right: 56px;
      padding-top: 76px;
      .intro__header {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 1.6px;
        font-weight: 400;
      }
      .intro__button {
        display: inline-flex;
        width: 160px;
        height: 48px;
        justify-content: center;
        align-items: center;
        margin-top: 23px;
        margin-bottom: 63px;
      }
      .contact__sales {
        background: #f46a35;
        border: 1px solid #f46a35;
        color: white;
        border-radius: 10px;
        margin-right: 4px;
      }
      .open__account {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
      hr {
        background: rgba(0, 0, 0, 0.1);
      }
      .header {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.32px;
        color: #212121;
        margin-top: 33px;
        margin-bottom: 9px;
      }
      .text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.28px;
        color: #212121;
        margin-bottom: 7px;
      }
      .learn__more {
        font-size: 16px;
        line-height: 24px;
        color: #f46a35;
        margin-bottom: 31px;
        width: 107px;
      }
      .learn__more:hover {
        .arrow {
          padding-left: 5px;
        }
      }
    }
  }
}
.intro__footer {
  display: flex;
  height: 152px;
  align-items: center;
  justify-content: space-around;
  margin-left: 48px;
  margin-right: 56px;
  div {
    padding: 0 10px;
  }
}

// section 1
.s1 {
  .s1__top {
    display: flex;
    height: 300px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-top: 160px;
      font-size: 36px;
      line-height: 52px;
      text-align: center;
      letter-spacing: 1.6px;
      color: #212121;
      font-weight: 400;
    }
    p {
      font-size: 19px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.4px;
      color: #212121;
    }
  }
  .cards__container {
    display: flex;
    justify-content: center;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 72px;
  }
  //   left
  .left {
    height: 641px;
    margin-right: 8px;
    background: url(https://i.ibb.co/N2C7D4k/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    .left__top {
      display: flex;
      height: 200px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.64px;
        color: #ffffff;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.32px;
        color: #ffffff;
        margin-top: 10px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
        margin-top: 22px;
        border: 1px solid #ffffff;
        border-radius: 10px;
        width: 160px;
        height: 48px;
        text-decoration: none;
      }
    }
    .left__bottom {
      display: flex;
      height: 441px;
    }
  }

  //   right
  .right {
    height: 641px;
    background: url(https://i.ibb.co/1d20Qc8/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    .right__top {
      display: flex;
      height: 200px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.64px;
        color: #212121;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.32px;
        color: #212121;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 22px;
        color: #212121;
        margin-top: 22px;
        border: 1px solid #212121;
        border-radius: 10px;
        width: 160px;
        height: 48px;
        text-decoration: none;
      }
    }
    .right__bottom {
      display: flex;
      height: 440px;
    }
  }
}

// section 2
.s2 {
  display: flex;

  justify-content: center;

  background-color: #f9f9f9;
  .s2__wrapper {
    margin-left: 48px;
    margin-right: 48px;
    width: 1200px;
    height: 1033px;
    .s2__top {
      h2 {
        margin-top: 95px;
        font-weight: 400;
        font-size: 36px;
        line-height: 52px;
        letter-spacing: 1.6px;
        color: #212121;
      }
      p {
        margin-top: 21px;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.4px;
        color: #212121;
      }
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        color: #212121;
        border: 1px solid #212121;
        border-radius: 10px;
        width: 203px;
        height: 48px;
      }
    }
    .s2__bottom {
      margin-top: 40px;
      img {
        width: 1104px;
        height: 621px;
      }
    }
  }
}

// section 3
.s3 {
  .s3__wrapper {
    position: relative;
    display: flex;
    height: 664px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 22px;
      line-height: 24px;
      text-align: center;
      color: #212121;
      margin-top: 49px;
    }
    .citation {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.32px;
      color: #212121;
      margin-top: 48px;
    }

    .left__arrow,
    .right__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: #edefee;
      width: 50px;
      height: 20px;
      text-decoration: none;
    }
    .left__arrow {
      left: 48px;
    }
    .right__arrow {
      right: 48px;
    }
  }
}

// section 4
.s4__wrapper {
  margin-left: 96px;
  margin-right: 96px;
  .s4__header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    height: 208px;
    p {
      font-size: 40px;
      line-height: 52px;
      text-align: center;
      letter-spacing: 1.6px;
      color: #212121;
    }
  }
  .s4__middle {
    display: flex;
    justify-content: space-around;
    height: 340px;
    .card {
      width: 325px;
      p {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.4px;
        color: #212121;
        margin-top: 26px;
        margin-bottom: 22px;
      }
      .case__study {
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: #f46a35;
      }
      .case__study:hover {
        .arrow {
          padding-left: 5px;
        }
      }
    }
  }
  .s4__bottom {
    display: flex;
    justify-content: center;
    height: 442px;
    padding-top: 81px;
    .card {
      border: 1px solid rgba(128, 128, 128, 0.43);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 275px;
      height: 200px;
    }
  }
}

// section 5
.s5__wrapper {
  display: flex;
  justify-content: space-around;
  margin-left: 96px;
  margin-right: 96px;
  height: 515px;
  .s5__left {
    h2 {
      font-size: 40px;
      line-height: 52px;
      font-weight: 400;
      letter-spacing: 1.6px;
      color: #212121;
      padding-top: 110px;
    }
    p {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.4px;
      color: #212121;
      margin-top: 27px;
    }
    .contact__sales {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: #f46a35;
      border: 1px solid #f46a35;
      border-radius: 10px;
      margin-right: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #ffffff;
      width: 160px;
      height: 48px;
      margin-top: 20px !important;
    }
    .open__account {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 22px;
      border: 1px solid #212121;
      border-radius: 10px;
      width: 160px;
      height: 48px;
      color: #212121;
      margin-top: 20px !important;
    }
    .s5__right {
    }
  }
}

// footer
.footer {
  background-color: #171717;

  .footer__wrapper {
    margin-left: 96px;
    margin-right: 96px;
    height: 1000px;
    .links {
      display: flex;
      justify-content: space-between;
      margin-left: 96px;
      margin-right: 96px;
      padding-top: 120px;
      ul {
        list-style: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #bcbdbd;
      }
      .header {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #ffffff;
      }
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #bcbdbd;
        text-decoration: none;
      }
      a:hover {
        color: #898b8b;
      }
    }
    .socials {
      display: flex;
      margin-left: 96px;
      margin-right: 96px;
      padding-top: 97px;
      .social {
        display: flex;
        a {
          padding-right: 24px;
        }
      }
      .stores {
        display: flex;
        padding-left: 192px;
        a {
          margin-right: 24px;
        }
      }
    }
    .text {
      margin-left: 96px;
      margin-right: 96px;
      padding-top: 135px;
      p {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.24px;
        color: #bcbdbd;
        margin-bottom: 9px;
      }
    }
  }
}
